<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[codedream][%-5p] [%d{yyyy-MM-dd JJ:mm:ss.SSS}] [%C{1}:%M:%L] [%thread] [%X{LOG_ID}] %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test,pre,prd">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>
</configuration>
